.benefit__title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.benefit__text{
    margin-bottom: 14px;
    font-weight: 500;
    line-height: 1.85; /* 29.6px */
    opacity: 0.8;
}
