.logo{
    color: #FFF !important;
    font-family: var(--font-main);
    font-size: clamp(24px, 1.409rem + 0.45vw, 28px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}