.logo{
    color: #FFF !important;
    font-family: var(--font-main);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}